@model Site.ViewModels.MessageViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes da mensagem</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataExibicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataExibicao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MessageId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
