@model IEnumerable<Site.ViewModels.MessageViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Mensagens</h2>

<p>
    @Html.ActionLink("Nova Mensagem", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataExibicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataExibicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.MessageId }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.MessageId }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.MessageId })
        </td>
    </tr>
}

</table>
